@{
  Layout = "_Layout";
}

<h1>Your List of CDs</h1>
<ul>
    @foreach (var cd in Model)
  {
  <li><a href="/cd/add-artist">@cd.GetCdTitle()</a></li>
  }
</ul>
<a href="/cd/add"><button>Add another CD</button></a>
