@{
  Layout = "_Layout";
}

<h1>CD Organizer</h1>

<h2>Add a CD Title:</h2>
<form action='/cd/list' method="post">
  <label for="new-title">CD Title:</label>
  <input id="new-title" name="new-title" type="text" class="form-control">

<button type="submit" class="btn btn-default">Add CD</button>
</form>
